/*Author: Colby McDevitt
    Class: Web & Distributed Programming, CPSC 247; 
     Project: Map Mania Lite; 
     Session: su18-cpsc-247-lt1
    Description:  Map app using Google API and  JavaScript
         May 29, 2018 
         */

    /* I plan to utilize this blank css file when making the 
    map mania game more robust in the upcoming week
    */